<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criteria</key>
	<dict>
		<key>childs</key>
		<array>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>name</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>givenName</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>familyName</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>gender</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>birthDate</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>birthPlace</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>deathDate</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>deathPlace</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>marriageDate</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>marriagePlace</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>father.name</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>father.givenName</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>father.familyName</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>father.birthDate</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>father.birthPlace</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>father.deathDate</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>father.deathPlace</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>father.marriageDate</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>father.marriagePlace</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>mother.name</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>mother.givenName</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>mother.familyName</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>mother.birthDate</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>mother.birthPlace</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>mother.deathDate</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>mother.deathPlace</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>mother.marriageDate</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>mother.marriagePlace</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>parent.name</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>parent.marriagePlace</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>spouse.name</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>spouse.marriagePlace</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>child.name</string>
			</dict>
			<dict>
				<key>PSRuleEditorPredicateLeftExpression</key>
				<string>$value</string>
				<key>childs</key>
				<array>
					<dict>
						<key>PSRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>PSRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>PSRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>childs</key>
						<array>
							<dict>
								<key>PSRuleEditorPredicateRightExpression</key>
								<string>$value.objectValue</string>
								<key>value</key>
								<string>NSTextField</string>
							</dict>
						</array>
						<key>value</key>
						<string>NSLikePredicateOperatorType</string>
					</dict>
				</array>
				<key>value</key>
				<string>child.marriagePlace</string>
			</dict>
		</array>
	</dict>
	<key>operators</key>
	<array>
		<dict>
			<key>index</key>
			<integer>0</integer>
			<key>value</key>
			<string>NSLessThanPredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>value</key>
			<string>NSLessThanOrEqualToPredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>value</key>
			<string>NSGreaterThanPredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>value</key>
			<string>NSGreaterThanOrEqualToPredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>value</key>
			<string>NSEqualToPredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>value</key>
			<string>NSNotEqualToPredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>value</key>
			<string>NSMatchesPredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>value</key>
			<string>NSLikePredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>value</key>
			<string>NSBeginsWithPredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>value</key>
			<string>NSEndsWithPredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>value</key>
			<string>NSInPredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>value</key>
			<string>NSCustomSelectorPredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>value</key>
			<string>NSContainsPredicateOperatorType</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>value</key>
			<string>NSBetweenPredicateOperatorType</string>
		</dict>
	</array>
</dict>
</plist>
